{% extends 'main.html' %}
{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="50000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/img/slide/shipping.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>Mandu Clearing and Forwarding Agency</span></h2>
              <p>Mandu Clearing and Forwarding Agency strive to provide exceptional logistic solutions to businesses of all sizes as well as individuals in and out of Sierra Leone. Our team comprises of dedicated profesionals who offer personalized and reliable services that help streamline your supply chain. Making your business and your personal preference more efficient and profitable is one of our core values.</p>
              <div class="text-center"><a href="{% url 'about' %}" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/shipping.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>Mandu Clearing and Forwarding Agency</span></h2>
              <p>Mandu Clearing and Forwarding Agency strive to provide exceptional logistic solutions to businesses of all sizes as well as individuals in and out of Sierra Leone. Our team comprises of dedicated profesionals who offer personalized and reliable services that help streamline your supply chain. Making your business and your personal preference more efficient and profitable is one of our core values.</p>
              <div class="text-center"><a href="{% url 'about' %}" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(static/img/slide/slide-1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>Mandu Clearing and Forwarding Agency</span></h2>
              <p>Mandu Clearing and Forwarding Agency strive to provide exceptional logistic solutions to businesses of all sizes as well as individuals in and out of Sierra Leone. Our team comprises of dedicated profesionals who offer personalized and reliable services that help streamline your supply chain. Making your business and your personal preference more efficient and profitable is one of our core values.</p>
              <div class="text-center"><a href="{% url 'about' %}" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Our <span>Vision</span></h3>
            <p>At Mandu Clearing and Forwarding Agency, our vision is to be a leader in providing innovative and reliable logistic solutions that meets the evolving needs of businesses around the world. We aim to achieve this vision by Providing exceptional services to our clients, staying ahead of the curve in terms of technology, innovation, Hiring and retaining the best talents, fostering a culture of continuous improvement and being a responsible corporate citizen</p>
          </div>
          <!-- <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Request a quote</a>
          </div> -->
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-up">Mandu Clearing and Forwarding Agency</h3>
              <p data-aos="fade-up">
                Mandu Clearing and Forwarding Agency strive to provide exceptional logistics solutions to businesses of all sizes as well individuals in and out of Sierra Leone. Our team is dedicated to offering personalized and reliable services that help streamline your supply chain, making your business and your personal preference more efficient and profitable.
              </p>
              <br>
              <p>
                Our team of experienced and knowledgeable professionals who are passionate about the logistic industries. We understand the complexities of managing the transportation of goods and we are committed to finding solutions to even the most challenging logistic problems. Our team is made up of individuals who have years of experience in the field and are experts in all aspects of clearing and forwarding.
              </p>
              <br>
              <p>
                As a clearing and forwarding Agency, we are committed to upholding a set of core values that guide our operations and define our approach to serving our clients. These values include:
              </p>
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Customer Focus</h4>
                  <p>Our clients are the reason for our existence. We exist to serve their needs and we work tirelessly to provide them with exceptional service that meets their unique needs.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Professionalism</h4>
                  <p>We take pride in our work and approach every task with a high level of professionalism.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>Integrity</h4>
                  <p>We believe in operating with the highest level of honesty, transparency, and ethical standards. We maintain the trust and confidence of our clients by always doing the right thing, even when it is difficult</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>Reliability</h4>
                  <p>We understand that our clients depend on us to deliver on our promises. We take this responsibility seriously and are committed to always delivering on time, with accuracy and efficiency</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Team</strong></h2>
          <p>At Mandu clearing and forwarding Agency, we have a team of experienced and dedicated professionals who are passionate about providing exceptional logistic solutions to businesses of all sizes. Our team is made up of individuals who have years of experience in the field and are experts in all aspects of clearing and forwarding.</p>
          <br>
        </div>


        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static 'img/team/monk.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mr. Mandu</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'img/team/monk.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mr. Kolleh</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'img/team/monk.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mr. Mandu Senior</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'img/team/monk.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>The Monk</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Services Section ======= -->
    <h2 style="text-align:center; padding-bottom: 0px; margin-bottom: 0px; display: inline-block; font-weight: bolder; width: fit-content; border-bottom: 2px solid red; position: relative; left: 50%; transform: translateX(-50%);">Our Services</h2>
    <section id="services" class="services">
      <div class="container" style="margin-top: 0px;">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"></div>
              <h4 class="title"><a href="">Customs Clearance</a></h4>
              <p class="description"> We handle all aspects of customs clearance, including documentation, payment of duties, taxes, and compliance with import and export regulations</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="70">
              <div class="icon"></div>
              <h4 class="title"><a href="">Transportation</a></h4>
              <p class="description">We offer a variety of transportation options, including air, sea, and land freight, to ensure that shipments are delivered to their final destinations in a timely and cost-effective manner</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"></div>
              <h4 class="title"><a href="">Warehousing and Distribution</a></h4>
              <p class="description">We provide secure, temperature-controlled storage solutions for our clients' goods, and we manage the distribution of those goods to their final destinations.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"></div>
              <h4 class="title"><a href="">Consulting and Advisory Services</a></h4>
              <p class="description">We provide consulting and advisory services to help our clients optimize their logistics processes, improve efficiency, and reduce costs</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"></div>
              <h4 class="title"><a href="">Project Logistics</a></h4>
              <p class="description">We specialize in managing the logistics of large-scale, complex projects, including the movement of heavy equipment and oversized cargo</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"></div>
              <h4 class="title"><a href="">Supply Chain Management</a></h4>
              <p class="description">We work with our clients to manage their supply chain logistics, from procurement and manufacturing to delivery and distribution</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- testimonial section -->
    <h2 style="text-align:center; padding-bottom: 0px; margin-bottom: 0px; display: inline-block; font-weight: bolder; width: fit-content; border-bottom: 2px solid red; position: relative; left: 50%; transform: translateX(-50%);">Testimonials</h2>
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="{% static 'img/team/monk.png' %}" class="testimonial-img" alt="">
              <h3>Mr. Mandu</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item mt-4 mt-lg-0">
              <img src="{% static 'img/team/monk.png' %}" class="testimonial-img" alt="">
              <h3>The Monk</h3>
              <h4>Product Manager</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
  </div>
  <a href="{% url 'testimonials' %}" style="display:inline-block; border:2px solid red; position:relative; left:50%; transform:translateX(-50%); margin-top:15px; width:100px; display:flex; justify-content: center; padding: 4px; border-radius: 5px; font-size:18px;">See All</a>
</section>
<!-- end of testimonial section -->

    <!-- ======= Portfolio Section ======= -->
    <h2 style="text-align:center; padding-bottom: 0px; margin-bottom: 0px; display: inline-block; font-weight: bolder; width: fit-content; border-bottom: 2px solid red; position: relative; left: 50%; transform: translateX(-50%);">Our Portfolio</h2>
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="" width="fit-content" height="300px">
            <!-- <div class="portfolio-info"> -->
              <!-- <h4>App 1</h4>
              <p>App</p> -->
              <!-- <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            <!-- </div> -->
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
            <!-- <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div> -->
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
            <!-- <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div> -->
          </div>
        </div>
      </div>
      <a href="{% url 'portfolio' %}" style="display:inline-block; border:2px solid red; position:relative; left:50%; transform:translateX(-50%); margin-top:15px; width:100px; display:flex; justify-content: center; padding: 4px; border-radius: 5px; font-size:18px;">See All</a>
    </section><!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
    <h2 style="text-align:center; padding-bottom: 0px; margin-bottom: 0px; display: inline-block; font-weight: bolder; width: fit-content; border-bottom: 2px solid red; position: relative; left: 50%; transform: translateX(-50%);">Our Clients</h2>
    <section id="clients" class="clients"> 
      <div class="container"  style="margin-top:0px;">

        <div class="section-title" data-aos="fade-up">
          <!-- <h2>Our <strong>Clients</strong></h2> -->
          <p>At Mandu Clearing and Forwarding Agency, we work with a diverse range of clients, including businesses of all sizes, industries, and sectors. Our clients rely on us to provide reliable, efficient, and cost-effective logistic solutions that meet their unique needs and help them achieve their business goals. Some of the key sectors we work with include but not limited to: Manufacturing, Retail, Mining, Healthcare, Agriculture, etc.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/slcb_logo.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/slcb_logo.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/slcb_logo.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/slcb_logo.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/slcb_logo.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/slcb_logo.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/slcb_logo.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static 'img/clients/slcb_logo.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->

  {% endblock content %}
